<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>H.E.R.O</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
  />

  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
      rel="stylesheet"
  />

  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container mt-3">
    <h1><a href="/">H.E.R.O</a></h1>

    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/sightings" class="nav-link" style="color: white">Sightings</a>
        </li>
        <li class="nav-item">
          <a href="/supers" class="nav-link">Supers</a>
        </li>
        <li class="nav-item">
          <a href="/powers" class="nav-link">Powers</a>
        </li>
        <li class="nav-item">
          <a href="/organizations" class="nav-link">Organizations</a>
        </li>
        <li class="nav-item">
          <a href="/locations" class="nav-link">Locations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="container">
    <div class="row content">
      <div class="col-xl-6">
        <h2 class="text-center mt-3">Create Sighting</h2>

        <!-- Add Sighting Form -->
        <form action="/sightings/addSighting" method="POST">
          <div class="row justify-content-center">
            <div class="mb-3 col-lg-8">
              <label for="sitingDate" class="form-label">Date</label>
              <input th:value="${siting?.date}" min="1900-01-01" class="form-control" type="date"
                     id="sitingDate" name="sitingDate">
              <div th:if="${siting}">
                <div th:if="${#fields.hasErrors('siting.date')}">
                  <p th:each="error : ${#fields.errors('siting.date')}"
                     class="mt-1 text-danger error" th:text="'*' + ${error}">
                  </p>
                </div>
              </div>
            </div>
            <div class="mb-3 col-lg-8">
              <label for="super" class="form-label">Super</label>
              <select
                  class="form-control"
                  id="super"
                  name="superId"
                  aria-label="Default select example"
              >
                <option selected>Select Super</option>
                <option th:each="super : ${supers}"
                        th:value="${super.superId}"
                        th:text="${super.name}"
                        th:selected="${siting?.superHuman?.equals(super)}">Name
                </option>

              </select>
              <div th:if="${siting}">
                <div th:if="${#fields.hasErrors('siting.superHuman')}">
                  <p th:each="error : ${#fields.errors('siting.superHuman')}"
                     class="mt-1 text-danger error" th:text="'*' + ${error}">
                  </p>
                </div>
              </div>
            </div>
            <div class="mb-3 col-lg-8">
              <label for="location" class="form-label">Location</label>
              <select
                  class="form-select"
                  id="location"
                  name="locationId"
                  aria-label="Default select example"
              >
                <option selected>Select Location</option>
                <option th:each="location: ${locations}"
                        th:value="${location.id}"
                        th:text="${location.name}"
                        th:selected="${siting?.location?.equals(location)}">Name
                </option>

              </select>
              <div th:if="${siting}">
                <div th:if="${#fields.hasErrors('siting.location')}">
                  <p th:each="error : ${#fields.errors('siting.location')}"
                     class="mt-1 text-danger error" th:text="'*' + ${error}">
                  </p>
                </div>
              </div>
            </div>


            <div class="mb-3 col-lg-8">
              <label for="description" class="form-label"
              >Description</label
              >
              <textarea
                  id="description"
                  name="description"
                  cols="30"
                  rows="5"
                  class="form-control"
                  th:text="${siting?.description}"
              ></textarea>

              <div th:if="${siting}">
                <div th:if="${#fields.hasErrors('siting.description')}">
                  <p th:each="error : ${#fields.errors('siting.description')}"
                     class="mt-1 text-danger error" th:text="'*' + ${error}">
                  </p>
                </div>
              </div>

            </div>
            <div class="d-grid col-lg-8">
              <button type="submit" class="btn btn-primary mb-3">
                Create
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Sightings List Area -->
      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-11">
            <h2 class="text-center mt-3">Sightings</h2>

            <form action="/sightings/date" method="GET">
              <div class="row justify-content-left">
                <div class="col-sm-4 col-4">
                  <input th:value="${sortDate}" class="form-control" type="date" id="filter-date"
                         name="filter">
                </div>
                <div class="col-sm-4 col-8 btn-group">
                  <button type="submit" class="btn btn-info">
                    Sort
                  </button>
                  <a href="/sightings" class="btn btn-warning">
                    Reset
                  </a>
                </div>

              </div>

            </form>
            <ul class="list-group mt-2">

              <li th:each="sighting : ${sightings}" th:class="'list-group-item mb-2 ' + ${sighting.superHuman.faction.name}">
                <div class="row">
                  <div class="row align-items-center">
                    <div class="col-3">
                      <img class="super-img img-thumbnail" th:src="@{${'/supers/image/' + sighting.superHuman.photoPath}}">
                    </div>

                    <div class="col-4 ellipsis">
                      <p th:text="${sighting.superHuman.name}" class="super-name text-left ellipsis"
                      >Super Name</p>

                      <p
                          th:text="${sighting.location.name}"
                          class="super-name text-left"
                      >
                        Super Name
                      </p>

                      <p th:text="${dateFormatter.format(sighting.date)}"
                         class="text-left date"></p>
                    </div>

                    <div class="col-5 text-end links">
                      <a
                          class="details-link"
                          th:href="@{/sightings/details/(id=${sighting.id})}"
                      >Details</a
                      >
                      <a th:href="@{/sightings/edit/(id=${sighting.id})}">Edit</a>
                      <a th:href="@{/sightings/confirmDelete/(id=${sighting.id})}"
                      >Delete</a
                      >
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
></script>
<script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
></script>
<script th:if="${siting?.date == null}">
  let dateControl = document.querySelector('input[type="date"]');

  let today = new Date();
  let dd = String(today.getDate()).padStart(2, '0');
  let mm = String(today.getMonth() + 1).padStart(2, '0');
  let yyyy = today.getFullYear();

  today = `${yyyy}-${mm}-${dd}`;
  dateControl.value = today;
  dateControl.max = today;
</script>
</body>
</html>
