<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>H.E.R.O</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
  />

  <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
  <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css"
      rel="stylesheet"
  />

  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container mt-3">
    <h1><a href="/">H.E.R.O</a></h1>

    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/sightings" class="nav-link">Sightings</a>
        </li>
        <li class="nav-item">
          <a href="/supers" class="nav-link" >Supers</a>
        </li>
        <li class="nav-item">
          <a href="/powers" class="nav-link"
          >Powers</a
          >
        </li>
        <li class="nav-item">
          <a href="/organizations" class="nav-link" style="color: white">Organizations</a>
        </li>
        <li class="nav-item">
          <a href="/locations" class="nav-link">Locations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="container content">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10 col-sm-12">
        <h2 class="text-center pt-3">Edit Organization</h2>


        <form action="/organizations/edit" method="POST">
          <div class="row justify-content-center">
            <div class="mb-3 col-lg-8">
              <label for="orgName" class="form-label">Organization Name</label>
              <input
                  type="text"
                  id="orgName"
                  name="name"
                  class="form-control"
                  th:value="${organization?.name}"
              />
              <div th:if="${organization}">
                <div th:if="${#fields.hasErrors('organization.name')}">
                  <p th:each="error : ${#fields.errors('organization.name')}"
                     class="mt-1 text-danger error" th:text="'*' + ${error}">
                  </p>
                </div>
              </div>
            </div>
            <div class="mb-3 col-lg-8">
              <div class="row">
                <div class="col-6">
                  <label for="faction" class="form-label">Faction</label>
                  <select
                      class="form-select"
                      id="faction"
                      name="factionId"
                      aria-label="Default select example"
                  >
                    <option selected>Select Faction</option>
                    <option th:each="faction : ${factions}"
                            th:value="${faction.id}"
                            th:text="${faction.name}"
                            th:selected="${organization?.faction?.id == faction.id}">Hero
                    </option>

                  </select>
                  <div th:if="${organization}">
                    <div th:if="${#fields.hasErrors('organization.faction')}">
                      <p th:each="error : ${#fields.errors('organization.faction')}"
                         class="mt-1 text-danger error" th:text="'*' + ${error}">
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label for="location" class="form-label">Location</label>
                  <select
                      class="form-select"
                      id="location"
                      name="locationId"
                      aria-label="Default select example"
                  >
                    <option selected>Select Location</option>
                    <option th:each="location: ${locations}"
                            th:value="${location.id}"
                            th:text="${location.name}"
                            th:selected="${organization?.location?.id == location.id}">Name
                    </option>

                  </select>
                  <div th:if="${organization}">
                    <div th:if="${#fields.hasErrors('organization.location')}">
                      <p th:each="error : ${#fields.errors('organization.location')}"
                         class="mt-1 text-danger error" th:text="'*' + ${error}">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 col-lg-8">
              <div class="row">
                <div class="col-6">
                  <label for="orgPhone" class="form-label">Pone Number</label>
                  <input
                      type="text"
                      id="orgPhone"
                      name="phone"
                      class="form-control"
                      th:value="${organization?.phone}"
                  />
                  <div th:if="${organization}">
                    <div th:if="${#fields.hasErrors('organization.phone')}">
                      <p th:each="error : ${#fields.errors('organization.phone')}"
                         class="mt-1 text-danger error" th:text="'*' + ${error}">
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label for="orgEmail" class="form-label">Email</label>
                  <input
                      type="text"
                      id="orgEmail"
                      name="email"
                      class="form-control"
                      th:value="${organization?.email}"
                  />
                  <div th:if="${organization}">
                    <div th:if="${#fields.hasErrors('organization.email')}">
                      <p th:each="error : ${#fields.errors('organization.email')}"
                         class="mt-1 text-danger error" th:text="'*' + ${error}">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="mb-3  col-lg-8">
              <label for="supers" class="form-label">Members</label>
              <div id="supers" class="outer-check-list">
                <div class="check-list form-control">
                  <div class="form-check" th:each="super : ${supers}">
                    <input name="supers" th:id="'super' + ${super.superId}"
                           class="form-check-input" th:checked="${organization?.superHumans?.contains(super)}" type="checkbox" th:value="${super.superId}">
                    <label class="form-check-label" th:for="'power' + ${super.superId}" th:text="${super.name}"></label>
                  </div>
                </div>
              </div>

              <div th:if="${organization}">
                <div th:if="${#fields.hasErrors('organization.superHumans')}">
                  <p th:each="error : ${#fields.errors('organization.superHumans')}"
                     class="mt-1 text-danger error" th:text="'*' + ${error}">
                  </p>
                </div>
              </div>
            </div>


            <div class="mb-3 col-lg-8">
              <label for="description" class="form-label"
              >Description</label
              >
              <textarea
                  id="description"
                  name="description"
                  cols="30"
                  rows="4"
                  class="form-control"
                  th:text="${organization?.description}"
              ></textarea>
              <input type="hidden" name="id" th:value="${organization.id}"/>
              <div th:if="${organization}">
                <div th:if="${#fields.hasErrors('organization.description')}">
                  <p th:each="error : ${#fields.errors('organization.description')}"
                     class="mt-1 text-danger error" th:text="'*' + ${error}">
                  </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-4 text-center d-grid">
                <a class="btn btn-danger" href="/organizations">Cancel</a>
              </div>
              <div class="col-4 text-center d-grid">
                <button type="submit" class="btn btn-primary">
                  Edit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>


</main>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
></script>
<script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
></script>
<script>

</script>
</body>
</html>
